{% extends "base.html" %} {%load static%}
{% block links %}<link rel="stylesheet" href="{% static "css/user.css" %}" />{% endblock %}
{% block content %}
<section class="history-edit">
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_username">Логин пользователя</label>
      {{ form.username }}
    </div>
    <div>
      <label for="id_role">Роль пользователя</label>
      <select id="id_role" name="role">
        <option value="reader" {% if form.role.value == "reader" %} selected {% endif %}>Читатель</option>
        <option value="librarian" {% if form.role.value == "librarian" %} selected {% endif %}>Библиотекарь</option>
        <option value="admin" {% if form.role.value == "admin" %} selected {% endif %}>Администратор</option>
      </select>
    </div>
    <div></div>
    <div></div>
      <button type="submit">Сохранить</button>
  </form>
</section>
{% endblock %}
